body.nav_open {
	.main-nav-wrapper {
		.nav-btn-wrapper {
			transform: translateX(0);
		}
	}
}

.main-nav-wrapper {
	position: relative;
	height: 0;
	padding-left: 0;

	.nav-btn-wrapper {
		display: flex;
	    flex: 1 1 auto;
	    align-items: center;
	    justify-content: center;
	    position: fixed;
	    top: 0;
	    width: 250px;
	    transform: translateX(-225px);
	    transition: all ease 0.5s;

	    .nav-trigger {
	    	cursor: pointer;
	    }
	}

	.main-menu {
		width: 100%;
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;

		li {
			list-style: none;
			.brandColorRGBA(0.9);
			vertical-align: middle;
			margin-left: 0;

			a {
				display: flex;
				align-items: center;
				height: 42px;
				color: @textColor;
				vertical-align: middle;
			}

			&:hover {
				.brandColorRGBA(1);
			}
		}
	}
}