@ColTwitter: #00aced;
@ColFacebook: #3b5998;
@ColFlickr: #ff0084;

body.page-template-pt-socialwall-php {
	width: 100%;
	background: #000;
	overflow: hidden;
	-webkit-backface-visibility: hidden;

	header {
		height: 100px;

		.head_logo {
			.logo {
				margin: 10px 0;
				img {
					height: 80px;
					width: auto;
				}
			}

		}


		.clock {
			position: absolute;
			top: 0;
			height: 100px;
			right: 5%;
			line-height: 100px;
			vertical-align: middle;
			color: #fff;
			font-size: 4em;
			font-weight: 600;
		}

		.searchterm {
			position: absolute;
			top: 0;
			height: 100px;
			left: 5%;
			line-height: 100px;
			vertical-align: middle;
			color: #fff;
			font-size: 4em;
			font-weight: 600;
		}
	}

	.content-wrapper {
		margin-top: 0;
	}

	.page-wrapper {
		background: #000;
	}
}

.pt-socialwall {
	ul.social_wall_list {
		list-style: inside none;
		margin: 0;
		padding: 0;
		line-height: 0px;
		border-top: 2px solid #000;

		li.social_wall_item {
			width: 33.333%;
		    display: inline-block;
		    position: relative;
			background-size: cover;
			background-position: center center;
			position: relative;
			line-height: normal;
			border: 2px solid #000;
			font-size: .3em;
			.opacity(1);
			.transition(opacity 1s);

			div.main {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				overflow: hidden;
			}

			div.user {
				margin: 15px;
				color: #fff;
				text-shadow: 0 0 1px #000,  0 0 10px #000;
				font-size: 0.75em;
				font-weight: 100;
				position: relative;
				z-index: 1;

				h3 {
					margin: 0;
					padding: 0;
					font-size: 1.5em;
					font-weight: 600;
				}

				img {
					float: left;
					margin: 0 10px 0 0;
					max-height: 3em;
				}
			}

			div.text {
				padding: 0 15px;
				color: #fff;
				font-size: 1.1em;
				line-height: 1.5em;
				text-shadow: 0 0 1px #000,  0 0 10px rgba(0, 0, 0, 0.5);
				position: relative;
				z-index: 1;
				overflow: hidden;
				max-height: (4 * 1.5em);
				.opacity(1);
				.transition(opacity 2s);
			}

			div.meta {
				position: absolute;
				bottom: 15px;
				left: 15px;
				right: 15px;
				color: #fff;
				font-size: 0.6em;
				z-index: 1;
				text-align: right;
				line-height: 1;
				text-shadow: 0 0 1px #000;

				span.text {
					vertical-align: middle;
				}
			}
		}

		li.social_wall_item::after {
		    padding-top: 56.25%; /*16:9 ratio*/
		    display: block;
		    content: '';
		}

		li.has_image.has_text:before {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			display: block;
			background: rgba(0, 0, 0, 0.5);
			z-index: 0;
			.opacity(1);
			.transition(opacity 2s);
		}

		li.has_image.has_text.text_hidden:before {
			.opacity(0);
		}

		li.text_hidden {
			div.text {
				.opacity(0);
			}
		}


		li.twitter {
			background-color: @ColTwitter;

			.fa-inverse {
				color: @ColTwitter;
			}
		}

		li.flickr {
			width: 66.666%;

			div.meta {
				.fa-square {
					display: none;
				}

				.fa-flickr {
					font-size: 2em;
				}
			}
		}

		li.ng-leave.ng-leave-active,
		li.ng-enter {
			.opacity(0);
		}
	}
}

// XS Screens is default

// Small Screens
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.pt-socialwall {
		ul.social_wall_list {
			li.social_wall_item {
				font-size: .5em;
				line-height: 1em;
			}
		}
	}
}

// Medium Screens
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.pt-socialwall {
		ul.social_wall_list {
			li.social_wall_item {
				font-size: .7em;
				line-height: 1em;
			}
		}
	}
}

// Large Screens
@media (min-width: @screen-lg-min) {
	.pt-socialwall {
		ul.social_wall_list {
			li.social_wall_item {
				font-size: 1em;
				line-height: 1em;
			}
		}
	}
}

// Large * 1.5 Screens
@media (min-width: (@screen-lg-min * 1.5)) {
	.pt-socialwall {
		ul.social_wall_list {
			li.social_wall_item {
				font-size: 1em;
				line-height: 1em;
			}
		}
	}
}


// Large * 2 Screens
@media (min-width: (@screen-lg-min * 2)) {
	.pt-socialwall {
		ul.social_wall_list {
			li.social_wall_item {
				font-size: 2em;
				line-height: 1em;
			}
		}
	}
}