.sidebar {
	position: absolute;
	right: -41px;
	top: 0;
	bottom: 0;
	width: 0;
	height: 100%;
	background-color: @gray-5;
	border-left: @gray-1 solid 1px;
	color: #fff;
	padding: 20px;
	z-index: 30;
	.transition(width 0.5s);
	
	.sidebar-trigger {
		position: absolute;
		left: -69px;
		top: 290px;
		z-index: 30;
		.rotate(-90deg);
		
		a {
			background-color: @brandColor;
			display: block;
			padding: 4px 10px;
			border-radius: 10px 10px 0 0;
			border: 2px solid @gray-3;
			color: #fff;
			font-size: 1em;
			font-weight: 600;
			text-transform: uppercase;
			
			i {
				.rotate(90deg);
			}
		}
		
		a:hover {
			text-decoration: none;
		}
	}
	
	.clicked {
		left: -44px;
	}
	
	h1, h2, h3, h4 {
		color: @brandColor;
	}
	
	h4 {
		font-size: 0.9em;
		font-weight: 600;
		text-transform: uppercase;
	}
	
	.sidebar-buttons {
		text-align: center;
		margin-bottom: 30px;
		
		ul {
			padding: 0;
			margin: 0;
			
			li.menu-item {
				a {
					color: #fff;
				}
				
				a:hover {
					text-decoration: none;
				}
			}
		}
	}
	
	.newsletter {
		height: 0px;
		overflow: hidden;
		.transition(all linear 0.6s);
		
		input {
			background-color: #333;
			border: 2px solid #eee;
			margin-bottom: 10px;
		}
	}
	
	.height_transition {
		height: 200px !important;
		margin-bottom: 30px;
		.transition(all linear 0.6s);
	}
	
	.partner, .newsletter {
		li {
			list-style-type: none;
			
			div.textwidget {
				a {
					display: block;
					text-align: center;
					margin: 0 -20px 0px -20px;
					padding: 10px 0;
					background-color: rgba(0, 0, 0, 0.2);
					border-bottom: 2px solid @gray-1;
					
					img {
						max-width: 70%;
						height: auto;
					}
				}
				
				a:hover {
					background-color: rgba(0, 0, 0, 1);
				}
			}
		}
	}
}

.sidebar-open {
	right: 0;
	width: 300px;
	.transition(width 0.5s);
	
	.sidebar-trigger {
		
		a {
			background-color: @gray-2;
		}
	}
}

/* Sidebar hidden at 1300px or lower  */
@media (min-width: 1300px) {

	.page-wrapper {
		padding-right: 300px;
		
		.sidebar-trigger {
			opacity: 0;
		}
		
		.sidebar {
			width: 300px;
			right: 0;
		}
	}
}

@media (max-width: 1299px) {

	.page-wrapper {
		padding: 0;
	}
}