.session_object {

	.session_wrapper {
		width: 100%;
	}

	article {
		.speaker {
			width: 150px;
			float: right;
			margin: 0 0 15px 35px;
			
			.avatar {
				text-align: center;
				
				img {
					border-left: 10px solid @brandColor;
				}
			}
			
			.name {
				text-align: center;
				font-weight: bold;
				font-size: 1em;
				font-family: "Bookman Old Style", "Times New Roman", Times, serif;
				color: #656565;
				margin: 10px 0;
			}
			
			.buttons {
				font-size: 0.75em;
				a {
					display: block;
					width: 138px;
					margin: 0 0 5px 0 !important;
				}
			}
		}
		
		.social_bar {
			
			.fb_iframe_widget, .twitter-share-button {
				vertical-align: middle;
				height: 20px;
			}
			
			.zocial {
				font-size: 11px;
			}
		}
	}
}