.sidebar {
	
	.sidebar-trigger {
		position: absolute;
		left: -101px;
		top: 87px;
		z-index: 30;
		.rotate(0);
		
		a {
			background-color: @gray-2;
			display: block;
			padding: 4px 10px;
			border-radius: 10px 0 0 10px;
			border: 2px solid #fff;
			color: #fff;
			font-size: 1em;
			font-weight: 600;
			text-transform: uppercase;
			
			i {
				.rotate(0);
			}
		}
	}
	
	.clicked {
		left: -54px;
		.transition(all 0.5s);
			
		a {
			background-color: @brandColor;
		}
	}
	
	.sidebar-buttons {
		
		ul {
			
			li.menu-item {
				margin-bottom: 10px;
			}
		}
	}
	
	.newsletter {
		height: 0px;
		overflow: hidden;
		.transition(all linear 0.6s);
		
		input {
			width: 80%;
		}
	}
}

// Sidebar Lightbox

.sidebar-open {
	width: 240px;
}