header {
	@headerHeight: 83px;

	div.head_links {
		height: @headerHeight;
		font-size: 0.75em;
		line-height: 1.333em;
	}

	div.head_contact {
		height: @headerHeight;
		.contact_wrapper {
			font-size: 0.75em;
		}
	}

}