.ct-frontpage {
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;

	&.ct-wrapper {
		padding-bottom: @line-height-target * 2;
	}

	.the_content {
		.single-content {
			text-align: center;
			color:#fff;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
			padding-top: (@line-height-target * 10);
			//margin-bottom: (@line-height-target * 2);

			h1 {
				margin:inherit 0;
				color:#fff;
				margin-left: 0;
				margin-right: 0;
			}

			p {
				
				//text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

				a {
					color: @brandColor;
				}
			}
		}
	}
}