.ct-frontpage {
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;

	&.ct-wrapper {
		padding-bottom: @line-height-target * 2;
	}

	.the_content {
		.single-content {
			text-align: center;
			color:#fff;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
			padding: @line-height-target*2 @line-height-target;
			background-color: rgba(0,0,0,0.2);
			//margin-bottom: (@line-height-target * 2);

			h1 {
				margin:inherit 0;
				margin-top: 0;
				color:#fff;
				margin-left: 0;
				margin-right: 0;
				font-size: @h1-font-size;
				line-height: @h1-line-height;
			}

			p {
				font-size: @h3-font-size;
				line-height: @h3-line-height;
				//text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

				a {
					color: @brandColor;
				}
			}
			
		}
	}
}