.social-plugin {
	margin-bottom: 0;
}

@media (max-width: @screen-sm-max) {
		.social-plugin {
			margin-bottom: @line-height-target*2;
	}
}

.social-plugin-row {
	margin-bottom: @line-height-target*2;
}
.form-inline {
	text-align: center;
}

.submit-btn {
	margin-top: @line-height-target;
}

.ct-social {
	h1 {
		margin-bottom: @line-height-target*2;
	}
}