.ct-sponsors {

	.gallery {
		display: table;
		table-layout: fixed;
		width: 100%;
		overflow-x: hidden;

		dl.gallery-item {
			display: table-cell;
			width: auto;
			float: left;
			position: relative;
			border:1px solid #DDD;
			margin: 0 10px 10px 0;

			img {
				max-height: 42px;
				width: auto;
			}
		}
	}
}